

    *{padding: 0;
    margin: 0;
box-sizing: border-box;}


.container{
    background-image: url(../../images/backgroundimage132.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;

}
.flex{
    display: flex;
    background-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9999999999999999) 85%,
     rgba(0,0,0,0.9999999999999999) 100%);
     justify-content: end;
     justify-content: space-between;
     align-items: center;
      
     padding-top: 50px;
}

ul{
    display: flex;
    color: white;
    list-style: none;
    
    justify-content:space-around;
     gap: 40px; 
    justify-content: end;
    margin-right: 80px;
    
text-transform: uppercase;
color: #ffffff;
font-weight: 600px;
font-family: "Poppins";
    
    
    
}
.col-50{
     
    color: white;
    font-size: 30px; 
    margin-bottom: 50px;
    font-family: "Archivo";
    
    
     
}


.laptop{
    color: white;
    font-size: 80px;
    margin: 90px;
     
     margin-bottom: 50px; 
    text-align: start;


    
    
font-family: "Archivo";
 } 
   .cable{
    color: white;
    font-size: 20px;
    margin: 90px;
      margin-top: 20px; 
     margin-bottom: 50px; 
    text-align: start;
    margin-left: 4px;



}
   .Order-now
   {font-size: 15px;
    height: 40PX;
    width: 180PX;
text-transform: uppercase;

color: #ffffff;
background-color: rgb(240, 66, 66);
border-radius: 20px;
font-weight: 700;
font-family: "Montserrat";
text-align: center;
 margin-bottom: 5PX; 
 
margin-left: 89px;
border: 0;
}

     
#section{
    /* background-color: bisque; */
    background-color: bisque;
    color: #f64b3c;
    text-align: center;
    padding: 50px;
}

.container1{
    width: 90%;
     margin: 0 auto; 
     
   
  
 } 
.row{
    display: flex;
     justify-content: center;
    align-content: center;
    /* gap: 20px; */
    flex-direction: row;
    position: relative;
    /* margin-bottom: 100px; */

}
.main-text{
     text-align: center; 
     padding: 22px;
    color: #f64b3c;
}
h1{
    font-size: 50px;   
    /* /* padding-bottom: 0px;  */
     ;
     text-align: center;
}
h1+p{
    font-size: 20px;   
     padding: 10px 100px; 
    margin: 0 80px;
}
.col-25{
    width: 25%;
    text-align: center;
     margin-bottom: 63px;
}
/*img{
    width: 100%;
 } */
h3{
    font-size: 25px;   
     padding: 10px; 
}
h3+p{
    font-size: 15px;   
}
.image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
     margin: 15px auto; 
    background: url(../../images/tarun.jpeg)no-repeat center center/cover;
    gap: 10px;
    
}


.momos{position: absolute;
top: 800px;
left: 132px;}

.burger{position: absolute;
left: 1300px;
top: 800px;}



.mashroom{position: absolute;
bottom: 0px;
left: 900px;
top: 1300px;}


.fries{position: absolute;
top: 1000px;
left: -10px;
}

.leaf{position: absolute;
right: 100px;
top: 10px;
top: 1280px;
left: 570px;}

.capcicum{position: absolute;
/* left: 1350px; */
 top: 1150px;
right: 0px;}
 
.section2{
    background-color: #f64b3c;
    color: white;
    padding-top:80px;
    padding-bottom: 100px;
    /* margin-bottom: 100px; */
}




 .box-1{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 1px black solid;
    background: url(../../images/burger1.png) no-repeat center center/cover ;
     background-repeat: no-repeat; 
     /* padding-top: 30px; */
     justify-content: center;
    align-items: center;
     margin-bottom: 25px;
     
    color: white;
    padding-top: 100px; 

}




h2{font-size: 80px;
color: white;
align-items: center;
justify-content: center;
align-items: center;
 /* padding-top: 0px;  */

}



.Order-ready{font-size: 15px;
    height: 40PX;

    width: 200PX;
text-transform: uppercase;
 color: #f64b3c; 
background-color: white;
border-radius: 20px;
font-weight: 700; 
font-family: "Montserrat";
border: 0px;
margin-bottom: 20PX;
margin-top: 30PX;}

 .cover{flex-direction:row-reverse;
    flex-direction: column-reverse;
    background-color: bisque;
    font-size: 30px;
    color: #f64b3c;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    padding-bottom: 10px;
    text-align: start;

 display: flex; 
}

.container-2{
    /* background-color:#f64b3c; */
    
    padding: 100px;
    display: flex;
    padding-bottom: 100px;

    
     /* padding-top: 18px;  */
     
    gap: 150px;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    font-size: 20px;

 }

.Order-now-1{font-size: 15px;
    height: 40PX;
    width: 180PX;
text-transform: uppercase;
/* color: white; */
color: #ffffff;
background-color: rgb(240, 66, 66);
border-radius: 20px;
font-weight: 700;
font-family: "Montserrat";
text-align: center;
  /* margin: 30PX;   */
 /* padding-bottom: 20PX;  */
 /* margin-top: 30PX;  */

border: 0;}
 h4{ 
    font-size: 80px;
 } 
 h4+p{
    padding-top: 30px;
    padding-bottom: 30px;
 }

 .momos1{
    position: absolute;
    /* bottom: 50px; */
    /* left: 50px; */
    left: 250px;
    /* bottom: 1500px; */
    /* top: 2600px; */
    top: 530px;
    /* right: 50px; */
 }
 .burger1{
    position: absolute;
    /* top: 2150px; */
    left: 608px;
    top: -54px;
 }
 .mashroom1{position: absolute;
    left: 771px;
    /* top: 2600px; */
    top: 484px;
    /* bottom: 200px;] */
 }
 .fries1{position: absolute;
    /* right: 0px; */
    bottom: 100px;
    /* left: 130px; */
    right: -49px;
 }
 .leaf1{position: absolute;
bottom: 500px;
left: 1350px;}

.capcicum1{
    position: absolute;
    bottom: 350px;
    left: -55px;
  
}

.text{
    justify-content: center;
    align-items: center;
}
.Mobile{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: white 5px solid;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.bottle{
      gap:250px; 
     margin-top: 100px;
    /* text-align: center; */
    align-items: center;
    
    display: flex;
     justify-content: center;
    align-content: center;
     gap: 100px; 
    flex-direction: row;
    /* position: relative; */
    
}
.bag{
    justify-content: center;
    text-align: center;
}


span{margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 50px;
}


.TARUN{border: 1px solid white;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

background-color: white;}
.Tarun-1{
    display: flex;
    
/* padding: 40px; */
    gap: 50px;
    justify-content: center;
    /* flex-direction:row ; */
    /* align-items: center; */
    
    padding-bottom: 40px; 
    z-index: 1;
    /* position: absolute; */

    
}
.container-4{position: relative;
background-color: bisque;
justify-content: center;
align-items: center;
padding-bottom: 100px;
 /* z-index: 2222; */
}
.momos2{position: absolute;
right: 0px;

 top: 70px;
}
.burger2{
    position: absolute;
     top: -57px; 
    right: 180px;
    /* left: 10px; */
}
.leaf2{position: absolute;
top: -20px;
left: 229px;}
.capcicum2{position: absolute;
left: 0;
top: -10px;}
.mashroom2{
    position: absolute;
    top: 450px;
    left: 0;
}
.fries2{position: absolute;
right: 100px;
top: 395px;
z-index: 0;}





.section5{
   

background-image:url(../../images/Place\ Your\ Image\ Here\ \(Double\ Click\ to\ Edit\)\ \(3\).png);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-clip: border-box;
    color: white;
    font-size: 30px;
    text-align: center;
    align-items: center;
    z-index: 1;
    position: relative;

    /* padding: 100px; */
    /* position: relative; */
    padding: 100px;
    
    
}

.section-wrapper5{
    
    background-image: url(../../website/IMAGE/backgraound\ image\ o2.png);
    
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 1;
    position: relative;
}

.dolor{
  padding: 100px;  
 font-size: 30px; 

 font-weight: 800; 
text-align: center; 
align-items: center;
position: absolute;
justify-content: center;


background-color:#e52a19;
    z-index: -1;
    opacity: 0.7;
    
    width: 100%;
    height: 100%;
        top: 0;
    left: 0;

}


.dolor-1{
    

font-size: 50px;

font-weight: 800;

}

.dolor-2{
    /* padding: 100px;  */
    align-items: center;
   font-size: 30px;
   /* margin: 100px; */
   
   font-weight: 200;
   text-align: center;
   flex-direction: row;
   justify-content: center;
   align-items: center;}
   
   
   
   .suscribe{
    font-size: 15px;
        height: 50PX;
        width: 180PX;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgb(240, 66, 66);
    
    font-weight: 700;
    /* font-family: "Montserrat"; */
    text-align: center;

    /* margin-bottom: 20PX; */
    margin-top: 30PX;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    
    border: 0px;
    /* position: absolute;   */
    /* right: 0.5;   */
    
    
   }

   .text-area{ width: 500px;
    height: 50px;
    border-bottom-left-radius:  30px ;
    border-top-left-radius: 30px;
    border: 0;
    color:antiquewhite ;
}

.momos3{
    position: absolute;
    top: 760%;
right:  100px;
}
.burger3{top: 710%;
    position: absolute;
    right: 100px;
    

}
.mashroom3{
    position: absolute;
    top: 750%;
    left: 0;
}
.fries3{position: absolute;
top: 780%;
left: 10%;}


.capcicum3{position: absolute;
top: 715%;
 left: 670px;
right: 90px;}

.leaf3{
       position: absolute;
       top: 780%;
       left:50%;
}

.leaf4{position: absolute;
top: 720%;
left: 15%;}

.capcicum4{position: absolute;
top: 790%;
right: 10%;}

.container-6{
   
     padding: 100PX;
    
}
.table{
    padding: 100px;
}

footer{background-color: black;
color: white;
padding-top: 100px;
padding-bottom: 100px;
display: flex;}

.title{
    padding-top: 100px;
 padding-bottom: 100px;
margin: 50px;}

ol{
    /* display: flex; */
    gap: 20px;
    list-style: none;
    
    
}
.earbuds{
    padding-top: 100px;
 padding-bottom: 100px;
 display: flex;
 gap: 100px;
 margin-left: 100px;
    
}
ol>li{
     padding-top: 20px;
    margin-bottom: 10px;
    flex-direction: row;
   
}
.remote{
    display: flex;
     padding-bottom: 22px; 
    /* padding-top: 100px; */
}



